{% extends 'adminapp/base.html' %}

{% block content %}
    <div class="">
    {% if object.is_active %}
        Уверены, что хотите удалить категорию {{ object }}?
    {% else %}
        Уверены, что хотите восстановить категорию {{ object.get_full_name }}?
    {% endif %}
    </div>
    <form method="post">
    {% csrf_token %}
    <input type="submit" class="btn btn-danger" value="уверен">
    <a href="{% url 'adminapp:category_list' %}" class="btn btn-success">Нет</a>
    </form>
{% endblock %}