{% extends 'mainapp/base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Магазин</title>
	<link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
	<link rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
</head>
<body>
{% block menu %}
		<div class="slider">
			<div class="header clearfix">
				<a href="/" class="logo"></a>

					{% include 'mainapp/includes/inc_main_menu.html' %}

			</div>
			<div class="text-slider">
				<h3 class="green">тенденции</h3>
				<h3 class="big"> удобные стулья</h3>
				<p>Новый уровень комфорта. Отличные характеристики.</p>
				<a href="#" class="button-order">заказать <img src={% static 'img/arrow.png'%} alt=""></a>
			</div>	
			<div class="navi">
				<a href="#"></a><a href="#"></a><a href="#"></a>
			</div>
		</div>
{% endblock  %}
{% block content %}
		<div class="featured">
			<div class="featured-menu">
					<a class="active" href="#">Популярные</a><a href="#">Новинки</a>
			</div>
			<a class="explore" href="#">показать все <img src={% static 'img/arrow.png' %} alt=""></a>
			<div class="clearfix">
			</div>
			<div class="tab-content">
				{% for i in Product %}
				<div class="block">
					<a href="{%url "basket:add" i.pk%}"><img src="/media/{{ i.image }}" width="200"  alt="">
						<div class="text">
							<img src="{% static 'img/icon-hover.png'%}" alt="img">
							<h4>{{ i.name }}</h4>
							<p>{{ i.short_desc }} </p>
						</div> 
					</a>
				</div>
				{% endfor %}
			</div>
		</div>
		
		<div class="clr"></div>
{% endblock  %}